.h1 {
  text-align: center;
  width: 400;
  margin: auto;
  padding: 20px;
  font-family: system-ui;
}

.button {
  width: 120px;
  height: 50px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  background-color: black;
  text-align: center;
  font-family: system-ui;
  font-weight: bold;
  color: white;
}

.colorBox {
  line-height: 10;
  width: 400px;
  padding: 50px;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-family: system-ui;
}
